.topbar {
    display: block;
    height: 40px;
    background-color: #00AAFF;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
}
.topbar-content {
    float: right;
}

.topbar .topbar-logo {
    font-size: 20pt;
    float: left;
}

.topbar .topbar-btn {
    background-color: #0077FF;
    height: 39px;
    color: white;
    border: 1px solid #006FEF;
    padding: 4px 7px 4px 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 0px 0px 0px 3px;
}

.topbar .topbar-btn a {
    color: inherit;
    text-decoration: inherit;
    outline: inherit;
}

.topbar .topbar-btn:hover {
    background-color: #0055EE;
    border-color: #004FDF;
}

.topbar .topbar-btn:active {
    background-color: #0033CC;
    border-color: #002FBF;
}
