<!doctype html>
<html lang="{{ lc_lang_code }}" dir="ltr">
    <head>
        <link rel="shortcut icon" href="/static/favicon.png">
        <link rel="stylesheet" href="/static/w3css/w3.css">
        <link rel="stylesheet" href="/static/ctfhost-common.css">
        <link rel="stylesheet" href="/static/task-editor.css">
        <script src="/static/admin/task-editor.js"></script>
        <meta charset="utf-8">
        <title>{{ conf_ctfname }} - {{ lc_admin_page }}</title>
        <script>
            function select_tab(tab_name)
            {
                let tabs = document.querySelectorAll('#tabset>.w3-bar-item');
                for (let tab of tabs) {
                    if (tab.id == 'tab-' + tab_name) {
                        tab.classList.remove('w3-button');
                        tab.classList.add('w3-green');
                    } else {
                        tab.classList.add('w3-button');
                        tab.classList.remove('w3-green');
                    }
                }

                let tabcontents = document.querySelectorAll('#tabcontents>div');
                for (let tabc of tabcontents) {
                    if (tabc.id == 'tabcontent-' + tab_name) {
                        tabc.classList.remove('hidden');
                    } else {
                        tabc.classList.add('hidden');
                    }
                }
            }

            function setup_tabs()
            {
                let tabs = document.querySelectorAll('#tabset>.w3-bar-item');
                for (let tab of tabs) {
                    let tab_name = tab.id.replace(/^tab-/, '');
                    tab.addEventListener('click', function() {
                        select_tab(tab_name);
                    });
                }
                select_tab('tasks');
            }

            function load_task(task_id)
            {
                return make_http_request('/api/get_task', JSON.stringify({'task_id': task_id}));
            }

            function edit_task(task_id)
            {
                setTimeout(function() {
                    try {
                        let text = null;
                        let title = null;
                        let value = null;
                        let labels = [];
                        if (task_id !== null) {
                            let loaded_task = load_task(task_id);
                            text = loaded_task.task.text;
                            title = loaded_task.task.title;
                            value = loaded_task.task.value;
                            labels = loaded_task.task.labels;
                        }
                        open_task_editor(task_id, text, title, value, labels);
                    } catch (e) {
                        error_message(e.message);
                    }
                }, 0);
            }

            function delete_task(task_id)
            {
                if (!confirm('{{ lc_confirm_task_deletion }}')) {
                    return false;
                }

                let response;
                try {
                    response = make_http_request('/api/delete_task', JSON.stringify({'task_id': task_id}));
                } catch (e) {
                    if (e instanceof ActionError) {
                        error_message(e.message);
                        return;
                    } else {
                        throw e;
                    }
                }
                location.reload();
            }

            function error_message(msg)
            {
                let error_message = '{{ lc_error }}: ' + msg;
                alert(error_message);
            }

            window.addEventListener('load', setup_tabs);
        </script>
    </head>
    <body>
        <div id="task-editor-overlay">
            <div id="task-editor-box">
                <h3>{{ lc_task_editor }}</h3>
                <input type="hidden" id="task-editor-taskid-input">
                <p>
                    <label for="task-editor-title-input">{{ lc_taskeditor_title }}</label>
                    <input
                        type="text"
                        id="task-editor-title-input"
                        placeholder="{{ lc_taskeditor_title }}"
                        class="w3-input w3-border"
                        required
                    >
                </p>
                <p>
                    <label for="task-editor-value-input">{{ lc_taskeditor_value }}</label>
                    <input
                        type="number"
                        step=1
                        id="task-editor-value-input"
                        placeholder="{{ lc_taskeditor_value }}"
                        class="w3-input w3-border"
                        pattern="[1-9][0-9]*"
                        required
                    >
                </p>
                <p>
                    <label for="task-editor-labels-input">{{ lc_taskeditor_labels }}</label>
                    <input
                        type="text"
                        id="task-editor-labels-input"
                        placeholder="{{ lc_taskeditor_labels }}"
                        class="w3-input w3-border"
                    >
                </p>
                <p>
                    <label for="task-editor-text-input">{{ lc_taskeditor_text }}</label>
                    <textarea id="task-editor-text-input" class="w3-input w3-border">
                    </textarea>
                </p>
                <p>
                    <a id="task-editor-cancel-button" class="w3-button w3-red">{{ lc_taskeditor_cancel }}</a>
                    <a id="task-editor-submit-button" class="w3-button w3-green">{{ lc_taskeditor_submit }}</a>
                </p>
            </div>
        </div>
        <div class="w3-bar w3-dark-grey">
            <a class="w3-bar-item w3-button" href="/">{{ lc_home_page }}</a>
            <a class="w3-bar-item w3-button" href="/tasks">{{ lc_tasks }}</a>
            <span class="w3-bar-item w3-green">{{ lc_admin_page }}</span>
            <a class="w3-bar-item w3-button w3-right" href="/lout">{{ lc_logout }}</a>
            <span class="w3-bar-item w3-light-grey w3-right">{{ lc_signed_in_as.format(session.username) }}</span>
        </div>
        <div class="w3-container">
            <h1>{{ lc_admin_page }}</h1>
            <div class="w3-bar w3-dark-grey" id="tabset">
                <span class="w3-bar-item w3-button" id="tab-tasks">{{ lc_admintab_tasks }}</span>
                <span class="w3-bar-item w3-button" id="tab-teams">{{ lc_admintab_teams }}</span>
            </div>
            <div id="tabcontents">
                <div class="w3-container hidden" id="tabcontent-tasks">
                    <h2>{{ lc_admintab_tasks }}</h2>
                    <p>
                        <a class="w3-button w3-green" href="javascript:edit_task(null)">{{ lc_admin_task_add }}</a>
                    </p>
                    {% for task in tasks.get_task_list() %}
                        <p>
                            <div class="w3-container w3-light-grey">
                                <p>{{ task.title }} [{{ task.value }}]</p>
                                <p>
                                    <a
                                        class="w3-button w3-blue"
                                        onclick="edit_task({{ task.task_id }})"
                                    >{{ lc_admin_task_edit }}</a>
                                    <a
                                        class="w3-button w3-red"
                                        onclick="delete_task({{ task.task_id }})"
                                    >{{ lc_admin_task_delete }}</a>
                                </p>
                            </div>
                        </p>
                    {% end %}
                </div>
                <div class="w3-container hidden" id="tabcontent-teams">
                    <h2>{{ lc_admintab_teams }}</h2>
                </div>
            </div>
        </div>
    </body>
</html>
