<!doctype html>
<html lang="{{ lc_lang_code }}" dir="ltr">
    <head>
        <link rel="shortcut icon" href="/static/favicon.png">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <meta charset="utf-8">
        <title>{{ lc_auth_error }}</title>
    </head>
    <body>
        <div class="container">
            <h1>{{ lc_auth_error }}</h1>
            <p>{{ error }}</p>
            <a href="/">{{ lc_return_to_home }}</a>
        </div>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
