<!doctype html>
<html lang="{{ lc_lang_code }}" dir="ltr">
    <head>
        <link rel="shortcut icon" href="/static/favicon.png">
        <link rel="stylesheet" href="/static/w3css/w3.css">
        <link rel="stylesheet" href="/static/ctfhost-common.css">
        <meta charset="utf-8">
        <title>{{ lc_auth_error }}</title>
    </head>
    <body>
        <div class="w3-bar w3-dark-grey">
            <a class="w3-bar-item w3-button" href="/">{{ lc_home_page }}</a>
            <span class="w3-bar-item w3-red">{{ lc_auth_error }}</span>
        </div>
        <div class="w3-container">
            <h1>{{ lc_auth_error }}</h1>
            <p>{{ error }}</p>
            <a href="/">{{ lc_return_to_home }}</a>
        </div>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
