<!doctype html>
<html lang="{{ lc['lang_code'] }}" dir="ltr">
    <head>
        <link rel="shortcut icon" href="/static/favicon.png">
        <link rel="stylesheet" href="/static/w3css/w3.css">
        <link rel="stylesheet" href="/static/ctfhost-common.css">
        <meta charset="utf-8">
        <title>{{ lc['edit_team_info_ok'] }}</title>
    </head>
    <body>
        <div class="w3-bar w3-dark-grey">
            <a class="w3-bar-item w3-button" href="/">{{ lc['home_page'] }}</a>
            <span class="w3-bar-item w3-green">{{ lc['edit_team_info_ok'] }}</span>
        </div>
        <div class="w3-container">
            <h1>{{ lc['edit_team_info_ok'] }}</h1>
            <a href="/team_profile?team={{ session.username }}">{{ lc['return_to_profile'] }}</a>
        </div>
    </body>
</html>
