<!doctype html>
<html lang="{{ lc_lang_code }}">
    <head>
        <link rel="shortcut icon" href="/static/favicon.png">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <meta charset="utf-8">
        <title>{{ conf_ctfname }} - {{ lc_signin }}</title>
    </head>

    <body>
        <div class="container">
            <h1>
                {{ conf_ctfname }} - {{ lc_signin }}
            </h1>
            <form action="/auth" method="POST">
                <div class="form-group">
                    <label for="input-username">{{ lc_username }}</label>
                    <input type="text" class="form-control" id="input-username" name="username" placeholder="{{ lc_username }}">
                </div>

                <div class="form-group">
                    <label for="input-password">{{ lc_password }}</label>
                    <input type="password" class="form-control" id="input-password" name="password" placeholder="{{ lc_password }}">
                </div>

                <input type="submit" class="btn btn-primary" value="Sign in">
            </form>
            <a href="/signup">{{ lc_maybe_signup }}</a>
        </div>

        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
