<!doctype html>
<html lang="{{ lc['lang_code'] }}">
    <head>
        <link rel="shortcut icon" href="/static/favicon.png">
        <link rel="stylesheet" href="/static/w3css/w3.css">
        <link rel="stylesheet" href="/static/ctfhost-common.css">
        <script>
            const locale_messages = {% raw str(lc) %};
            const competition_start_time = {{ comp.start_time }};
            const competition_end_time = {{ comp.end_time }};
        </script>
        <script src="/static/clock.js"></script>
        <meta charset="utf-8">
        <title>{{ conf['ctfname'] }} - {{ lc['signin'] }}</title>
    </head>

    <body>
        <div class="w3-bar w3-dark-grey">
            <a class="w3-bar-item w3-mobile w3-button" href="/">{{ lc['home_page'] }}</a>
            <span class="w3-bar-item w3-mobile w3-green">{{ lc['signin'] }}</span>
            {% if comp.allow_team_self_registration %}
                <a class="w3-bar-item w3-mobile w3-button" href="/signup">{{ lc['signup'] }}</a>
            {% end %}
            <span class="w3-bar-item w3-mobile w3-right" id="ctfhost-clock"></span>
        </div>
        <div class="w3-container">
            <h1>
                {{ conf['ctfname'] }} - {{ lc['signin'] }}
            </h1>
        </div>
        <form action="/auth" method="POST" class="w3-container">
            <p>
                <label for="input-username">{{ lc['username'] }}</label>
                <input type="text" class="w3-input w3-border" id="input-username" name="username" placeholder="{{ lc['username'] }}">
            </p>
            <p>
                <label for="input-password">{{ lc['password'] }}</label>
                <input type="password" class="w3-input w3-border" id="input-password" name="password" placeholder="{{ lc['password'] }}">
            </p>
            <p>
                <input type="submit" class="w3-btn w3-green" value="{{ lc['signin'] }}">
            </p>
            {% if comp.allow_team_self_registration %}
                <p>
                    <a href="/signup">{{ lc['maybe_signup'] }}</a>
                </p>
            {% end %}
        </form>
    </body>
</html>
